{%extends "veloce/layouts/sidebar.html"%}

{%load static%}

{%block main%}
<form method="POST">
    {%csrf_token%}
    {%block pre%}{%endblock pre%}

    {%for form in forms%}
    <h3 style="display: inline-block; width: 500px; padding: 10px; margin-top:10px; margin-bottom:0;">
        {{form.TITLE}}
    </h3>
    {% for field in form %}
    {%if not form.hidden or field.html_name not in form.hidden %}
    <div class='veloce-form-control {% if field.html_name in form.full %} full {% endif %}'>
        <label for="{{field.id_for_label }}">{{field.label|safe}}</label>
        <div class='flex {% if field.errors %} invalid {%endif%}' {% if field.errors %} data-toggle='tooltip'
            data-html='true' data-placement="left" title='{{field.errors}}' {%endif%}>
            {{field}}
        </div>
    </div>
    {%endif%}
    {% endfor %}
    <br>
    {%endfor%}
    <br>

    {%block post%}{%endblock post%}
</form>
{%block footer%}{%endblock footer%}
<br><br>
{%endblock main%}