{%extends "veloce/layouts/sidebar.html"%}

{%load static%}

{%block title%}About Beagle{%endblock title%}
{%block pagetitle%}About Beagle{%endblock pagetitle%}

{%block main%}


<div style="padding: 20px 10px; width: 600px; text-align: center; font-size: 15em; color: gray;">
  <i class="fas fa-users"></i>
</div>
<p class="text-justify" style="width: 600px;">
  <b>Beagle Fintech Private Limited</b> is an online platform with a goal of connecting individuals and MSME’s to
  banks, NBFCs, Corporates and other lenders. Beagle helps the lenders and borrowers to eliminate the intermediaries
  like financial advisors, or agents etc. and further cuts down the interest rate due to exit of intermediaries.

  <br><br>
  On this platform of Beagle the MSME and other small borrowers unable to obtain the loan from banks due to their
  rates and paperwork are relieved and through an innovative technology and platform at suitable interest rates.
  In this process, the investors get an opportunity to earn higher risk adjusted returns while the borrowers get
  funded at the lowest cost possible as per their risk profile and market based demand.

</p>

{%endblock%}