{%extends "veloce/layouts/sidebar.html"%}

{%load static%}

{%block title%}About Beagle Fintech{%endblock title%}
{%block pagetitle%}About Beagle Fintech{%endblock pagetitle%}


{%block main%}


<div style="padding: 20px 10px; width: 600px; text-align: center; font-size: 15em; color: gray;">
  <i class="fas fa-users"></i>
</div>
<!--<p class="text-justify" style="width: 600px;">-->
<div style="width: 800px; text-align:justify; padding: 10px;">
  <p class="text-justify" style="width: 800px;">

  <h6>
        <a href="http://192.168.0.20:7003/" target="_blank">www.beaglefintech.com</a> is an associated finance facility portal with 
        <a href="http://192.168.0.20:7002/" target="_blank">www.beagle.bazar</a> Whereas, <a href="http://192.168.0.20:7002/" target="_blank">www.beagle.bazar</a> 
        is medical technology & equipment [meditech] marketplace which aims to make the latest medical equipment and technologies available to the doctors, hospitals 
        and health care providers. The platform provides a facility for medical equipment manufacturers and dealers to display and list their latest products and 
        thereby reach out to millions of doctors, hospitals and healthcare providers across the country.
       <br><br>
        Given that the doctors may find it difficult to self-finance some of the costlier equipment and machines, Beagle also provides a finance platform <a href="http://192.168.0.20:7003/" target="_blank">www.beaglefintech.com</a> wherein approved dealers can offer various financing solutions to the doctors by way of easy and low interest EMI loans.
    </h6>
</p>
</div>
{%endblock%}