{%extends "veloce/layouts/sidebar.html"%}

{%load static%}

{%block title%}Borrowing{%endblock title%}
{%block pagetitle%}Borrowing{%endblock pagetitle%}

{%block main%}


<div style="padding: 20px 10px; width: 600px; text-align: center; font-size: 15em; color: gray;">
  <i class="fas fa-hand-holding-usd"></i>
</div>
<div style="width: 600px; text-align:justify; padding: 10px;">
  The borrowers intending to get a personal loan has to pay very heavy interest rates if applied with
  the banks or any other institutions, at Beagle the borrowers can obtain loans for various reasons such as:<br>

  <ul>
    <li>Personal Loan</li>
    <li>Employers loan</li>
    <li>Home Loan</li>
    <li>Education loan</li>
    <li>Debt Loan</li>
    <li>Start Up Loan</li>
  </ul>

  Beagle provides a convenient platform to the borrowers where they are not required to pay a visit to
  the banks and other merchants for the loan instead just sitting at home and applying for the loan through
  our online website within minutes.
  <br><br>
  The borrowers has to fill a form along with the necessary personal details such as details of Aadhar
  card / PAN card / Passport (if any), bank details, educational qualification, profession, etc. once the form
  is filled it will be reviewed by the professional team from all the aspects and will upload the form on our
  website so the suitable lender can enter the bid.
  <br><br>
  Once the bid is accepted a customize hassle free EMI plans are provided to the borrower and the fund
  is transferred to the borrowers account.
  <br><br>

</div>


{%endblock%}