{%extends "veloce/layouts/sidebar.html"%}

{%load static%}

{%block title%}RBI Disclaimer{%endblock title%}
{%block pagetitle%}RBI Disclaimer{%endblock pagetitle%}

{%block main%}


<div style="padding: 20px 10px; width: 600px; text-align: center; font-size: 15em; color: gray;">
  <i class="fas fa-exclamation-circle"></i>
</div>
<div style="width: 600px; text-align:justify; padding: 10px;">
  <br>
  Use of the service and all information, products and other content (including that of third parties)
  included in or accessible from the Service is at User’ sole risk. The Service is provided on an "as is"
  and "as available" basis. Beagle expressly disclaim all warranties of any kind as to the Service and
  all information, products and other content (including that of third parties) included in or accessible
  from the Service, whether express or implied, including, but not limited to the implied warranties of
  merchantability, fitness for a particular purpose and non-infringement. Beagle make no warranty that
  (i) the Service will meet user’s requirements, (ii) the Service will be uninterrupted, timely, secure,
  or error-free, (iii) the results that may be obtained from the use of the Service will be accurate or
  reliable, (iv) the quality of any products, services, information, or other material purchased or
  obtained by the user through the Service will meet their expectations, or (v) any errors in the
  technology will be corrected.
  <br><br>
  User is solely responsible for any damage to their computer system or loss of data that results
  from the download of any such material. No advice or information, whether oral or written, obtained
  by you from Beagle through or from the Service will create any warranty not expressly stated in these
  Terms and Condition.
  <br><br>
  The lenders registering on this website "Lenders" are advised to astutely assess all apparent
  risks and expected benefits before investing. Beagle is a marketplace that carefully assesses and list
  borrower(s) profiles for all types of investing. Beagle is a marketplace that carefully assesses and list borrower (s)
  profiles for all types
  of investor(s) with varying risk appetites.
  <br><br>
  Beagle highlights all the relevant details for every borrower; however the decision of investment solely rest with the
  Lenders.
  <br><br>
  {%endblock%}