{%extends "veloce/layouts/sidebar.html"%}

{%load static%}

{%block title%}Frequently Asked Questions{%endblock title%}
{%block pagetitle%}Frequently Asked Questions{%endblock pagetitle%}

{%block main%}


<div style="width: 600px; text-align:justify; padding: 10px;">
  <h2>Borrower FAQs</h2>

  <b>Why Beagle:</b><br>
  Beagle is an online lending market place for Corporate lenders with idle cash and people with various
  financial needs which are not addressed by the Banks or any other financial institutions.
  <br><br>

  <b>How can I borrow?</b><br>
  Applying for loan a borrower needs to follow the process as mentioned below:<br>
  <ul>

    <li>Register as a borrower;</li>
    <li>Upload the documents as mentioned in the check box of the online application form;</li>
    <li>Provide the details of the amount of loan and also the maximum interest desiring to pay;</li>
    <li>Once all these details are submitted Beagle will scrutinize the documents and will verify all the details
      with personal data and the details provided and will scrutinize the authenticity of the documents provided.
    </li>
    <li>Beagle will provide the rate of interest offered by the lenders while bidding and once the same is accepted
      by the borrower than the process of loan is initiated.</li>

  </ul>

  <b>How safe are my personal details and security data provided?</b><br>
  Once the application is accepted by Beagle, the entire information can be viewed in profile of the respective
  borrowers by the lenders and if the borrower is skeptical about sharing the confidential information than
  borrower can hide those details and can chat with the interested lender personally. The information shared
  by the borrower will be used for the verification purpose and that information will not be provided to any
  of the other party or non registered viewers / lenders.
  <br><br>

  <b>Can I repay my loan early?</b><br>
  Certainly, without paying any prepayment charges, whereas the Banks and other entities charges for the same.
  <br><br>

  <b>Can my application be rejected?</b><br>
  If the details provided by the Borrower seems to be fraudulent / misleading or the credit score is below 600
  than the application of the borrower will be rejected and the intimation of the same will be provided to the
  borrower on their registered mobile number and email address.
  <br><br>

  <b>Can I alter my loan application?</b><br>
  No, once the application is submitted the same cannot be altered and if further loan is needed than the borrower
  can apply for another fresh loan application with Beagle.
  <br><br>

  <b>What if I am unable to pay an EMI for a month?</b><br>
  In case the EMI is not paid on its due date than interest of 5% per month will charged along with the default
  penalty which will be included in the loan agreement. If the borrower keeps defaulting than legal action will
  be taken against the defaulter.
  <br><br>


  <h2>Investor FAQs</h2>

  <b>How can I register myself as a lender?</b><br>
  After providing the details as mentioned in the application form on our website and if the eligibility
  criteria are met than the registration is accepted.
  <br><br>

  <b>Are the data and documents provided safe?</b><br>
  Documents are demanded for the verification purpose and also as per the RBI guideline and Money Laundering
  Act verification is done for the quality and safety purpose. The documents provided will not be discarded
  wrongfully even after the lender has closed his account with us. We provide a safe facility where lenders
  personal information is not shared with the other party without the consent of the respective lender.
  <br><br>

  <b>To whom I can lend?</b><br>
  Any Indian resident above the age of 21 years and body corporate registered in India can obtain loan and
  get register themselves at Beagle. Once the borrower is registered than the bidding is initiated.
  <br><br>

</div>

{%endblock%}