{%extends "veloce/layouts/sidebar.html"%}

{%load static%}

{%block title%}FAQs{%endblock title%}
{%block pagetitle%}FAQs{%endblock pagetitle%}


{%block main%}


<div style="padding: 20px 10px; width: 600px; text-align: center; font-size: 15em; color: gray;">
  <i class="fas fa-users"></i>
</div>
<!--<p class="text-justify" style="width: 600px;">-->
<div style="width: 1000px; text-align:justify; padding: 10px;">
<p class="text-justify" style="width: 800px;">
<h6>

<!--  <h5> Work in Progress... </h5>-->

<h5>1. Registration FAQs:</h5><br>
<pre>
<h6>
      1.1 Who can get registered on <a href="http://192.168.0.20:7003/" target="_blank">www.beaglefintech.com</a>  ?.
          •	Registration as lender
                <font> &#10004; </font> Only banks and NBFCs being registered with RBI can be registered as lenders.

          •	Registration as borrower
                <font> &#10004; </font> All the users who are registered on <a href="http://192.168.0.20:7002/" target="_blank">www.beagle.bazar</a>  are auto registered for <a href="http://192.168.0.20:7003/" target="_blank">www.beaglefintech.com</a>
                      as potential borrowers
                <font> &#10004; </font> Further, such auto registered borrowers will need to provide information for Level – 1, Level – 2 and Level – 3
                      for being eligible to get finance
                <font> &#10004; </font> Any person can algo get registered as potential borrower through <a href="http://192.168.0.20:7003/" target="_blank">www.beaglefintech.com</a>

      1.2	What information is required for registration?.

          •	For being registered as lender, a pre-defined set of information has to be provided.
          •	For being registered as potential borrower, one can get registered by simply providing the below information
                <font> &#10004; </font> If proposed user is an individual First Name, Last Name, and Email id
                <font> &#10004; </font> If proposed user is non individual / an institutional Organization Name, First Name, Last Name, and Email id

      1.3	Appropriate information have been submitted for being registered as lender still we are not getting any finance
                applications, why?

          •	Your registration profile may be under consideration and pending for approval by our team. So,
                please wait until your registration information gets approved.

</h6>
<h5>2. Product Finance scheme FAQs:</h5><br>
<h6>
      2.1	As a dealer, how can I provide customized finance schemes for my listed products?

          •	Your created finance scheme is subject to approval by admin team of <a href="http://192.168.0.20:7002/" target="_blank">www.beagle.bazar</a> ,
                which may take some time, so please wait for some time and try after some time till your
                finance scheme gets approved by our admin team.

      2.2	As a dealer, I have created a finance scheme for one my products but the same is not visible?.
          •	Your submitted level – 1 information is subject to approval by admin team of <a
            href="http://192.168.0.20:7002/" target="_blank">www.beagle.bazar</a>, which may
                take some time, so please wait for some time and try after some time till your submitted level – 1
                information gets approved by our admin team.

      2.3	How invoice finance is done on the products on which I have created a finance scheme?

          •	You may apply for invoice finance for the transaction which is recorded on <a href="http://192.168.0.20:7002/" target="_blank">www.beagle.bazar</a>
          •	After applying for the invoice finance our listed lenders on  <a href="http://192.168.0.20:7003/" target="_blank">www.beaglefintech.com</a>
                will analyse your profile and will provide their respective finance offer which may consist
                the Rate of Interest, Tenure and calculated disbursement amount
          •	You need to accept your preferred finance offer out of 1 or more lender’s finance offers provided to you
          •	Disbursement amount would be the calculated present value of the future instalments which are going to
                be repaid by customer as per your given finance scheme by considering and deducting the difference
                between the Rate of Interest given in your finance scheme and the Rate of Interest given by
                respective lender

      2.4	I am having a recorded sale of product with finance scheme and for the same I also applied for Invoice Finance,
                in which for all the lenders the proposed disbursement amount shows lesser than the Invoice amount, why?

          •	Disbursement amount is the calculated present value of the future instalments which are going to be repaid by
                customer as per your given finance scheme by considering and deducting the difference between the Rate
                of Interest given in your finance scheme and the Rate of Interest given by respective lender
</h6>
<h5>3.	Invoice upload and Invoice finance FAQs:</h5><br>
<h6>
      3.1	who can upload Invoice?.
          •	A dealer for particular transaction can upload the invoice by providing necessary information for the same

      3.2	How invoice finance works?
          •	Dealer applies for invoice finance for the invoice for the equipment sold to customer
          •	Lender does instant payment to dealer against invoice, the instant payment amount of which being the calculated
                present value of the future instalments which are going to be repaid by customer as per your given finance
                scheme by considering and deducting the difference between the Rate of Interest given in your finance scheme
                and the Rate of Interest given by respective lender
          •	Lender will get repayment in Equated Monthly Instalments (EMIs) from customer, and the amount of such EMI will
                be calculated as below
              <font> &#10004; </font> There is no finance scheme from dealer EMI amount would be calculated on the basis of the lender’s given ROI,
                    Sanctioned loan amount and loan tenure.
              <font> &#10004; </font> Dealer has provided a finance scheme EMI amount would be calculated on the basis of the dealer’s finance
                    scheme given ROI, Sanctioned loan amount and loan tenure.

      3.3	I have uploaded an invoice for a transaction but not able to apply for invoice finance, why?
          •	One needs to upgrade the profile by providing information up to level – 3 and get the same approved to use
                the below functionalities.
              <font> &#10004; </font> Become a Beagle Approved Dealer and get the Beagle Approved tag on all your listed products as a dealer.
              <font> &#10004; </font> Be eligible to get your listed products for getting exciting finance deals from Beagle and allied
                    finance partners.
              <font> &#10004; </font> As a dealer, become eligible to get finance on your uploaded sales bills.
              <font> &#10004; </font> As a customer, be eligible to get finance on your procured products.

      3.4	As a dealer, I applied for the finance schemes. Now where would the same be visible?
          •	All your finance applications can be viewed in “Finance” Menu under below mentioned different categories of sub menus
              <font> &#10004; </font> <b>Loan applications:-</b> All the finance applications that are applied but yet pending to be reviewed by lenders are listed here
              <font> &#10004; </font> <b>Sanctioned Loans:-</b> All the loan application, which are reviewed by lender/s and lenders have also provided their finance
                                                      offers are listed here finance partners.
              <font> &#10004; </font> <b>Accepted:-</b>Loan application on which any one lender’s finance offer is accepted will be listed here
              <font> &#10004; </font> <b>Disbursed:-</b>Loan applications on which any one lender’s finance offer is accepted by co-borrower and the lender has
                                        also provided approval for disbursement on the same are listed here

      3.5	I submitted the finance application, on which it shows a message “Pending for Payment”, Why?.
          •	For any loan application for being processed, a pre-defined amount of processing fees has to be paid in advance
                so as to enable our finance processing team to proceed further on the same.
          •	You will see the message of “Payment Pending” on your loan application in case.
              <font> &#10004; </font> You might skipped to pay such processing fees and / or.
              <font> &#10004; </font> You might initiated the processing fees payment process but for any reason the same process might
                     get stopped and payment could not be completed.
          •	In such case please complete the processing fees payment so as to proceed further for your loan application You
                will see the message of “Payment Pending” on your loan application in case.

      3.6	As a dealer, I applied for finance and for the same I can see many loan offers listed as “sanctioned loans”, why?
          •	All the loan applications are being shared with all of our empanelled lenders who then provide their finance offers
                against the application
          •	The borrower is expected to accept sanctioned loan offer of any 1 lender and once the borrower does it, all the other
                loan offers gets void and borrower shall further deal with the accepted lender.
</h6>
<h5>4. Product Finance scheme FAQs:</h5><br>

<h6>    4.1 As a dealer, how can I provide a customized finance scheme for my listed products?.
         <font> &#10004; </font> Finance scheme can be created from “Finance Scheme” menu by selecting any of your listed products and defining
              “Rate of Interest”, and “Tenure”.

<h6>    4.2	As a dealer, I have created a finance scheme for one my products but the same is not visible?.
         <font> &#10004; </font> Your created finance scheme is subject to approval by admin team of <a
            href="http://192.168.0.20:7002/" target="_blank">www.beagle.bazar</a>, which may take some time,
               so please wait for some time and try after some time till your finance scheme gets approved by our admin team.

<h5>5. Rewards FAQs:</h5><br>

<h6>    5.1	Is the rewards available to customers only or its also available to dealers also?.
         <font> &#10004; </font> Reward programme is subject to the decision of Beagle management, Beagle management decides from time to time for the
               same as to whom, on what and how much reward to be provided and subject to the same, dealers and / or customer shall get
               rewards upon uploading of actual completed transaction of certain specified products.

<h6>    5.2	How much reward can I get on sell and / or purchase transactions?.
         <font> &#10004; </font> Reward programme is subject to the decision of Beagle management, Beagle management decides from time to time for the
               same as to whom, on what and how much reward to be provided and subject to the same, dealers and / or customer shall get
               rewards upon uploading of actual completed transaction of certain specified products.

<h6>    5.3	I have put an inquiry for the product and also the transaction is completed still I did not get any reward?.
         <font> &#10004; </font> Reward programme is subject to the decision of Beagle management, Beagle management decides from time to time for the
                same as to whom, on what and how much reward to be provided and subject to the same, dealers and / or customer shall get
                rewards upon uploading of actual completed transaction of certain specified products.
         <font> &#10004; </font> Further, even if there is any reward available on the product you transacted, then the same transaction must have
                uploaded on the portal, then only you can get reward benefits.

<h5>6.	Bill upload and bill finance FAQs:</h5><br>

<h6>    6.1	Who can upload bill?
         <font> &#10004; </font> A dealer for particular transaction can upload the bill by providing necessary information for the same.

<h6>    6.2	I have uploaded a bill for a transaction by not able to apply for bill finance, why?.
         <font> &#10004; </font> One need to upgrade the profile by providing information up to level – 3 and get the same approved to use the
                below functionalities.
            <font> &#10004; </font> Become a Beagle Approved Dealer and get the Beagle Approved tag on all your listed products as a dealer.
            <font> &#10004; </font> Be eligible to get your listed products for getting exciting finance deals from Beagle and allied
                  finance partners.
            <font> &#10004; </font> As a dealer, become eligible to get finance on your uploaded sales bills.
            <font> &#10004; </font> As a customer, be eligible to get finance on your procured products.

<h6>    6.3	As a dealer, I applied for bill finance now where the same can be visible?.
         <font> &#10004; </font> All your bill finance applications can be viewed in “Finance / Beagle Fintech Home” Menu under below mentioned
                different categories of sub menus.
            <font> &#10004; </font> Loan applications All the loan application applied but yet pending to be reviewed by lender are listed here.
            <font> &#10004; </font> Sanctioned Loans All the loan application, which are reviewed by lender/s and also provided their finance
                    offers are listed here.
            <font> &#10004; </font> Accepted Loan application on which any one lender’s finance offer is accepted will be listed here.
            <font> &#10004; </font> Disbursed Loan applications on which any one lender’s finance offer is accepted by co-borrower and
                    the lender has also provided approval for disbursement on the same are listed here.

<h6>    6.4	As a dealer, I applied for bill finance and for the same I can see many loan offers listed as “sanctioned loans”, why?.
         <font> &#10004; </font> All your bill finance applications can be viewed in “Finance / Beagle Fintech Home” Menu under below
                mentioned different categories of sub menus.
            <font> &#10004; </font> Loan applications All the loan application applied but yet pending to be reviewed by lender are listed here.
            <font> &#10004; </font> Sanctioned Loans All the loan application, which are reviewed by lender/s and also provided their
                    finance offers are listed here.
            <font> &#10004; </font> Accepted Loan application on which any one lender’s finance offer is accepted will be listed here.
            <font> &#10004; </font> Disbursed Loan applications on which any one lender’s finance offer is accepted by co-borrower and
                    the lender has also provided approval for disbursement on the same are listed here.
</h6>
</p>
</div>
{%endblock%}