{%extends "veloce/layouts/sidebar.html"%}

{%load static%}

{%block title%}Finance With Us{%endblock title%}
{%block pagetitle%}Finance With Us{%endblock pagetitle%}

{%block main%}

<div style="padding: 20px 10px; width: 800px; text-align: center; font-size: 15em; color: gray;">
  <i class="fas fa-users"></i>
</div>
<div style="width: 800px; text-align:justify; padding: 10px;">
<p class="text-justify" style="width: 800px;">
<!--  <h5> Work in Progress... </h5>-->

<h6>
<ul>
    <li> <font> &#10004; </font>  We always encourage the eligible lenders being banks and NBFCs to connect with us to provide the finance services through our widely accepted and reached meditech equipments market place and finance service ecosystem </li><br>
    <li> <font> &#10004; </font>  For the same we welcome such lenders to get registered with us on our portal for the same being <a href="http://192.168.0.20:7003/" target="_blank">www.beaglefintech.com</a> </li><br>
</h6>

</p>
</div>
{%endblock%}