{%extends "veloce/layouts/sidebar.html"%}

{%load static%}

{%block title%}Grievance Redressal{%endblock title%}
{%block pagetitle%}Grievance Redressal{%endblock pagetitle%}

{%block main%}

<div style="padding: 20px 10px; width: 800px; text-align: center; font-size: 15em; color: gray;">
  <i class="fas fa-users"></i>
</div>
<div style="width: 800px; text-align:justify; padding: 10px;">
<p class="text-justify" style="width: 800px;">
  <h5> Work in Progress... </h5>

</p>
</div>
{%endblock%}