{%extends "veloce/layouts/sidebar.html"%}

{%load static%}

{%block title%}How Beagle Fintech works{%endblock title%}
{%block pagetitle%}How Beagle Fintech works{%endblock pagetitle%}


{%block main%}


<div style="padding: 20px 10px; width: 600px; text-align: center; font-size: 15em; color: gray;">
  <i class="fas fa-users"></i>
</div>
<!--<p class="text-justify" style="width: 600px;">-->
<div style="width: 800px; text-align:justify; padding: 10px;">
<p class="text-justify" style="width: 800px;">
<!--  <h5> Work in Progress... </h5>-->
<h6>
<ul>
    <li> <font> &#10004; </font>  <a href="http://192.168.0.20:7003/" target="_blank">www.beaglefintech.com</a> works in association with  <a href="http://192.168.0.20:7002/" target="_blank">www.beagle.bazar</a> </li><br>
    <li> <font> &#10004; </font>  <a href="http://192.168.0.20:7002/" target="_blank">www.beagle.bazar</a> gets the registration of meditech industry manufacturers and dealers to sell their products and equipments on the portal <a href="http://192.168.0.20:7002/" target="_blank">www.beagle.bazar</a> </li><br>
    <li> <font> &#10004; </font>  <a href="http://192.168.0.20:7003/" target="_blank">www.beaglefintech.com</a> gets the registration of duly authorized lenders being NBFCs and Banks to enable them to do finance the meditech equipments sale-purchase transactions recorded through  <a href="http://192.168.0.20:7002/" target="_blank">www.beagle.bazar</a> </li><br>
    <li> <font> &#10004; </font>  <a href="http://192.168.0.20:7002/" target="_blank">www.beagle.bazar</a> reaches to millions of doctors, medical practitioners, and health care institutions across the country. </li><br>
    <li> <font> &#10004; </font>  Manufacturers and Dealers list their meditech products and equipments on the portal <a href="http://192.168.0.20:7002/" target="_blank">www.beagle.bazar</a> which are visible to all who seek to purchase such products and equipments </li><br>
    <li> <font> &#10004; </font>  Potential customers of such products and equipments may raise product inquiries and converse with respective dealer / manufacturers through the platform itself </li><br>
    <li> <font> &#10004; </font>  If the transaction is executed and recorded on the portal <a href="http://www.192.168.0.20:7002/" target="_blank">www.beagle.bazar</a>,  both parties the seller and purchaser can apply for invoice finance and / or equipment finance; which would ultimately be processed in association with <a href="http://192.168.0.20:7003/" target="_blank">www.beaglefintech.com</a> </li><br>
    <li> <font> &#10004; </font>  Respective seller and purchaser of meditech equipments would get finance deal on products through our listed lenders on <a href="http://192.168.0.20:7003/" target="_blank">www.beaglefintech.com</a> </li><br>
    <li> <font> &#10004; </font>  Dealers / Manufacturers may also provide customized and lucrative finance scheme on their listed products and equipments on <a href="http://192.168.0.20:7002/" target="_blank">www.beagle.bazar</a> and get invoice finance on the same through listed lenders on <a href="http://192.168.0.20:7003/" target="_blank">www.beaglefintech.com</a> and get instant disbursement after appropriate deduction for rate of interest difference between lenders given ROI and dealer’s given ROI subject to present value calculations for the same.</li><br>
</h6>
</p>
</div>

{%endblock%}