{%extends "veloce/layouts/sidebar.html"%}

{%load static%}

{%block title%}Investing{%endblock title%}
{%block pagetitle%}Investing{%endblock pagetitle%}

{%block main%}


<div style="padding: 20px 10px; width: 600px; text-align: center; font-size: 15em; color: gray;">
  <i class="fas fa-chart-line"></i>
</div>
<p style="width: 600px; text-align:justify;">
  Beagle is an online market place where the investor gets to play the bank and collect EMIs each month
  as the borrower is paying off the debt.
  <br><br>
  Here on Beagle the platform is provided to the credit worthy borrowers who has passed the scrutiny and
  CIBIL score of the team of Beagle and willing investors transact for short or long terms capital investment.
  Beagle provides a tailor made portfolios to the lenders where they can diversify their funds into various profiles
  and earn high interest rates on their invested capital.
  <br><br>
  At Beagle the Investor is provided with a feature on our website which is called Portfolio Manager where
  the investor can set a desired risk tolerance bar and tick off the bid sizes to invest in loan settings with that
  the lenders get a related list of borrowers along with all the details.
  <br><br>
</p>

{%endblock%}