{%extends "veloce/layouts/sidebar.html"%}

{%load static%}

{%block title%}Legal{%endblock title%}
{%block pagetitle%}Legal{%endblock pagetitle%}

{%block main%}


<div style="padding: 20px 10px; width: 600px; text-align: center; font-size: 15em; color: gray;">
    <i class="fas fa-balance-scale"></i>
</div>
<p style="width: 600px; text-align:justify; padding: 10px;">

    The user of this website declares and agrees that the user is a natural person / legal person
    who have attended the age of at least 21 years in case of individual and for any other corporate they
    are not charged with any penal action against any of the Government or Bank authorities.
    <br><br>
    Persons who cannot enter into legally binding contract in accordance with the provisions of the
    Indian Contract Act, 1872, including person of unsound mind and un-discharged insolvents etc. are not
    entitled to use the Website. The User should be Indian and should have Indian Citizenship status. The
    User should also have a valid Savings Bank Account. The User is allowed to utilize the services of the
    Website in accordance with the Terms and Conditions detailed hereinafter.
    <br><br>
    If the user violates any of these terms and conditions, or otherwise violate an agreement entered
    into through the website, Beagle may delete the account of the user and any content or information posted
    by the User on the Website and/or prohibit the User from using or accessing the Website at any time in its
    sole discretion, with or without notice, including without limitation if it believes that you are under 21.
    <br><br>
</p>


{%endblock%}