{%extends "veloce/layouts/sidebar.html"%}

{%load static%}

{%block title%}Loans Eligibility{%endblock title%}
{%block pagetitle%}Loans Eligibility{%endblock pagetitle%}

{%block main%}

<div style="padding: 20px 10px; width: 800px; text-align: center; font-size: 15em; color: gray;">
  <i class="fas fa-users"></i>
</div>
<div style="width: 800px; text-align:justify; padding: 10px;">
<p class="text-justify" style="width: 800px;">
<!--  <h5> Work in Progress... </h5>-->

<h6>
<ul>
  <li><h5> •	To get the finance eligibility for each and every loan / finance application </h5></li><br>
    <li> <font> &#10004; </font>  An internal credit rating is done by our Beagle credit rating team </li><br>
    <li> <font> &#10004; </font>  An external credit rating is done by reputed, recognized and our affiliated credit rating agencies for the same like CRIF, CBIL etc. </li><br>
    <li> <font> &#10004; </font>  On the basis of combined credit rating score, a finance / loan eligibility gets generated for maximum eligible loan / finance amount, rate of interest and tenure </li><br>
</h6>

</p>
</div>
{%endblock%}