{%extends "veloce/layouts/sidebar.html"%}

{%load static%}

{%block title%}Loans{%endblock title%}
{%block pagetitle%}Loans{%endblock pagetitle%}

{%block main%}

<div style="padding: 20px 10px; width: 800px; text-align: center; font-size: 15em; color: gray;">
  <i class="fas fa-users"></i>
</div>
<div style="width: 800px; text-align:justify; padding: 10px;">
<p class="text-justify" style="width: 800px;">
<!--  <h5> Work in Progress... </h5>-->

<h6>
<ul>
  <li><h5> •	Equipment finance </h5></li><br>
    <li> <font> &#10004; </font>  Dealers / Manufacturers may also provide customized and lucrative finance schemes on their listed products and equipments. </li><br>
    <li> <font> &#10004; </font>  Respective customers will be able to get finance as specified in the dealer’s finance schemes. </li><br>

  <li><h5> •	Invoice finance </h5></li><br>
    <li> <font> &#10004; </font>  If any equipment sell – purchase transaction gets completed and is recorded on the portal <a href="http://192.168.0.20:7002/" target="_blank">www.beagle.bazar</a>, then all such recorded transactions shall be eligible to apply for finance schemes of registered dealer / seller on such transaction and to get finance offers from Beagle’s listed lenders through <a href="http://192.168.0.20:7003/" target="_blank">www.beaglefintech.com</a> </li><br>


</h6>

</p>
</div>
{%endblock%}