{%extends "veloce/layouts/sidebar.html"%}

{%load static%}

{%block title%}Our Privacy Policy{%endblock title%}
{%block pagetitle%}Our Privacy Policy{%endblock pagetitle%}

{%block main%}


<div style="padding: 20px 10px; width: 600px; text-align: center; font-size: 15em; color: gray;">
    <i class="fas fa-user-shield"></i>
</div>
<div style="width: 600px; text-align:justify; padding: 10px;">
    <br>
    Beagle Fintech Private Limited the owner and operator of this website and is committed to protect
    User’s privacy and the privacy of data entrusted to us. This Privacy Policy explains that commitment and
    how we collect, retain, and use personal information. This Privacy Policy is an addendum to the 'Privacy'
    head in our Terms & Conditions and applies to all our users and shall be read in conjunction with our
    Terms & Conditions. In case of any conflict between the Privacy head provided in the Terms & Conditions
    and the terms of this Privacy Policy, this Privacy Policy shall prevail. This Privacy Policy is
    subject to change from time-to-time. By using our services/products the user consents to adhere to
    the existing Privacy Policy.
    <br><br>
    <b>What information do we collect and how is it used?</b><br>

    We collect personal and financial information about you when you provide it to us. For example, when you create
    a either a Lender/ Investor Account or a Borrower Account, we may collect your name, date of birth, tax
    identification number, mailing address, email address, credit card number, pan number, tan number, income tax
    returns, bank account number, passport details, photographs, identity proofs, date of birth proofs, signature
    proofs, photograph, address proof, contact proofs, bank statement, proof of income, credit card statements,
    statement of investments, name of business(if self-employed), type of business, financial statement of
    business, ITR of business, bank statements of business, total employee base of business, evidence of employee
    related compliances, years since incorporation of business, type of residence whether owned or rented, type of
    family, highest level of education, source of income, number of dependents, time at residence and current
    city, company name and designation, social media information (such as twitter, facebook, LinkedIn, etc.)
    amount of loan required, purpose of loan required driving license details, personal statements, reasons
    for seeking finance, income sources and other information that we request during the registration process,
    and any information that you provide on Beagle.
    <br><br>

    The collected information is necessary to provide the services we offer and also assess financial
    stability and perform a credit assessment of the user.
    <br><br>
    For obtaining the aforesaid information, we may also require you to submit the following documents:
    PAN card, passport, voter id, aadhar card, bank statement, postpaid mobile bill, email verification, OTP etc.
    <br><br>
    There is some information that members are required to provide and other information that they provide
    voluntarily. Additional information may be gathered during subsequent use of the site, whenever the user chose
    to provide it. We also collect information about loan account balance and payment history. This information is
    necessary for providing the services which we offer.
    <br><br>
    We might also collect information such as the IP addresses from which the users access our website,
    the browser types and the versions used, and the operating system of their computers. This information is
    collected to improve our website, for the improvement of our services, to help diagnose technical problems
    and to administer our website. Beagle reserves the right to share information with its channel partner to
    reach out to Beagle's users.
    <br><br>
    <b>Sensitive personal data or information:</b><br>

    For the purposes of this Privacy Policy, the information that qualifies for safeguard and protection
    include information pertaining to i) password; ii) financial information such as Bank account or credit card
    or debit card or other payment instrument details; iii) physical, physiological and mental health condition;
    iv) sexual orientation; v) medical record and history; vi) biometric information; vii) any detail relating
    to these as provided to us for availing our services; viii) any of the information received under these by
    us for processing, stored or processed under a lawful contract or otherwise.
    <br><br>
    Any information which is freely available or accessible in public domain or furnished under the
    Right to Information Act, 2005 or any other law for the time being in force shall not be regarded as
    sensitive personal data and will not qualify for our safeguard and protection measures.
    <br><br>
    The user, by providing us with the details (while registration etc.) shall be assumed to have
    expressly consented to furnish such information to us of his/her own free will and also that he/she
    acknowledges the fact that the data furnished shall be retained in our database for as long as it is
    required for the purpose for which the information has been furnished. By providing the sensitive personal
    information, the user also acknowledges to be aware of the purpose for which the information has been
    furnished and will be utilized as such.
    <br><br>
    Beagle will not be responsible for the authenticity of the personal information or sensitive personal
    data or information supplied by the user to us.
    <br><br>

    <b>Disclosure of information:</b><br>
    Beagle does not disclose the sensitive personal data or information provided to us, to any third
    party, except i) with prior permission of the user whose information is being disclosed; ii) if such
    disclosure is necessary for compliance of a legal obligation.
    <br><br>
    The information can only be shared by us without the prior permission of the user, on receiving a
    request to the effect from a Government agency.
    <br><br>
    Information provided by users may be viewed or accessed by us, our associated companies, our
    associates based outside India or our auditors. Our staff can also access this information for the
    purpose of resolving a problem, addressing a support issue, investigating a suspected violation of the
    Terms & Conditions, or, as may be required by law.
    <br><br>
    We may provide certain information to our channel partners and third-party intermediaries that
    manage credit or debit card processing and perform financial analysis and credit assessment. Such
    intermediaries are solely a link in the distribution chain, and are not permitted to store, retain, or use
    the information provided, except for the sole purpose of credit card and/or debit card processing.
    <br><br>
    Our employees and any third-party intermediaries that have access to information described herein
    are subject to a non-disclosure agreement or policy consistent with the terms in this Privacy Statement.
    <br><br>
    We undertake that the information of the users shall be used, only for purposes related to the services
    provided by us and nothing else. We will stop using the information and will either terminate or return the said
    information, as agreed, within thirty days of the termination of the agreement between us and a user.
    <br><br>
    Whenever we obtain User’s personal information, we use commercially reasonable efforts to protect it
    from unauthorized access or disclosure. However, we are not insurers of the security of user’s personal
    information. Accordingly, we assume no liability for any disclosure of data due to errors in transmission,
    unauthorized third party access or other acts of third parties, or acts or omissions beyond our reasonable
    control.
    <br><br>
    <b>Security:</b><br>
    We are committed to having security measures in place to help protect against the loss, misuse and
    alteration of the data in our database. We have complied with reasonable security practices and procedures,
    and have a comprehensively documented information security programme and information securing policies.
    <br><br>
    We assume no liability for any disclosure of data due to errors in transmission, unauthorized third
    party access or other acts of third parties, or acts or omissions beyond our reasonable control.
    <br><br>

    <b>Opt Out Policy:</b><br>

    Except with respect to essential communications regarding the services we provide and accounts
    such as transaction confirmation and password change messages, we allow users to opt out of receiving e-mail
    messages from us. Newsletters, announcements, and other e-mail messages that we send to a group of customers
    or users, other than essential communications regarding the services we provide and accounts, include
    instructions for opting out of future similar communications. We do not send e-mail messages to users on
    behalf of third parties.
    <br><br>


</div>


{%endblock%}