{% extends 'veloce/layout/index.html' %}

{%block title%}Terms of use{%endblock title%}
{%block pagetitle%}Terms of Use and Data Privacy Policy and Security Policy{%endblock pagetitle%}

{%block main%}


<div style="padding: 20px 10px; width: 600px; text-align: center; font-size: 15em; color: gray;">
    <i class="fas fa-file-invoice"></i>
</div>
<p style="width: 600px; text-align:justify;">
    “Beagle”, “We”, “Website” or “our” means Beagle Fintech Private Limited registered under the
    Companies Act, 2013 having its registered office at RSM-Lemon House, G/02-05, G&J park, Gujarat Hira
    Bourse, Icchapore, Surat – 394510. It is a P2P lending platform to bring together lender and borrower.
    <br><br>
    A visitor can browse the details of borrowers and lenders and their basic details and channel
    partners of Beagle.
    <br><br>
    We are simply a platform for buyers and lender. We neither lend nor borrow on our website; we
    are not a financial institution and not a chit fund or financial scheme company.
    <br><br>
    As a user of this website, it is implied that the user has read the guidelines and user manual
    before registering with us and it is also implied that they are agreeing with the rules and restrictions
    provided on the website.
    <br><br>
    The information provided on the website relating to any data and information is subject to change
    without any prior notice.
    <br><br>
</p>


{%endblock%}