{%extends "veloce/layouts/sidebar.html"%}

{%load static%}

{%block title%}Terms of use{%endblock title%}
{%block pagetitle%}Terms of Use and Data Privacy Policy and Security Policy{%endblock pagetitle%}

{%block main%}


<!--<div style="padding: 20px 10px; width: 600px; text-align: center; font-size: 15em; color: gray;">-->
<!--  <i class="fas fa-users"></i>-->
<!--</div>-->

<div style="padding: 20px 10px; width: 800px; text-align: center; font-size: 15em; color: gray;">
    <i class="fas fa-file-invoice"></i>
</div>
<p style="width: 800px; text-align:justify;">


    <div style="width: 800px; text-align:justify; padding: 10px;">
<p class="text-justify" style="width: 800px;">

<ul>
<h5> 1.	Introduction </h5>
<per>

    <li> <font> &#10004; </font>This webpage describes the “Terms of use and Data Privacy and Security Policy” for <a href="http://192.168.0.20:7002/" target="_blank">www.beagle.bazar</a>, <a href="http://192.168.0.20:7003/" target="_blank">www.beaglefintech.com</a>  and  <a href="http://192.168.0.20:7004/" target="_blank">www.beagleinnovations.tech</a>  being an ecosystem for meditech equipments marketplace and equipment financing; powered by Beagle Innovations LLP and Beagle Fintech Pvt. Ltd. hereinafter collectively referred to as “Beagle” for the purpose of this document being “Terms of use and Data Privacy and Security Policy”.
By visiting any of the Beagle portals viz. <a href="http://192.168.0.20:7002/" target="_blank">www.beagle.bazar</a>, <a href="http://192.168.0.20:7003/" target="_blank">www.beaglefintech.com</a>  or  <a href="http://192.168.0.20:7004/" target="_blank">www.beagleinnovations.tech</a> , you are accepting and consenting to the practices described in this Terms of use and Data Privacy and Security Policy.
</li><br>
    <b>•	Please note: </b> By using or continuing to use the site you agree to our use of your information (including sensitive personal information) in accordance with this Privacy Policy, as may be amended from time to time by Beagle Innovations LLP in its discretion. You also agree and consent to us collecting, storing, processing, transferring and sharing information (including sensitive personal information) related to you with third parties or service providers for the purposes as set out in this Privacy Policy. <br>

<h5> 2.	Controllers of Information </h5>
    <li> <font> &#10004; </font>Any personal information provided to or gathered by Beagle Innovations under this Privacy Policy will be stored and controlled by the data controller duly authorized in this regard.</li><br>

<h5> 3.	How do we collect information about our Users? </h5>

    <li> We collect the information independently or by receiving services from third parties who are authorized service providers. </li>

    <li> <font> &#10004; </font>By your entering and using the website. When you visit or use the website, we are aware of the actual use, and we are entitled to collect and document information pertaining to your use, including products and services you purchased or sought to purchase, information or advertisements.</li><br>
    <li> <font> &#10004; </font>We collect information or documents that you voluntarily shared with Beagle upon registering for services or filling out the contact form.</li><br>

<h5> 4.	What information are we entitled to collect about our users? </h5>

    <li> We collect two types of information from Users of our website: </li>

    <li> <font> &#10004; </font>First type of information is anonymous, non-identifying information (referred as “Impersonal Information”). Impersonal Information is any unclassified information available to Beagle Marketplace which does not enable identification of User. It may include but not restricted to anonymous, technical information and information like activity of user on the website, identity of the operating system, as well as the User’s browser type, type of mobile device, language of the device, referral URL, the screen resolution, geographical location defined as default etc.</li><br>
    <li> <font> &#10004; </font>Second Type is Personal Information which enables Beagle to identify the User and is generally sensitive or private in nature:</li>
    <li>•	The users automatically provides their IP address in accordance with the network or device they are using. </li><br>
    <li> We collect personal information provided by Users consciously and of their own free will using the website. For example, the personal information will be collected from among the details in the context of registering to the website as a subscriber or inquirer. </li><br>

<h5> 5.	Purpose of collecting information </h5>
    <h6> A.	We use Impersonal Information:- </h6><br>

    <li><font> &#10004; </font>To adapt, develop and improve the Website and the services provided in the context thereof.</li>
    <li><font> &#10004; </font>To provide the Services of the Website.</li>
    <li><font> &#10004; </font>For analytical and research purposes, for instance, to analyze user preferences and User’s manner of use of the services.</li>
    <li><font> &#10004; </font>For Data Analytics purpose.</li><br>

 <h6> B.	We use Personal Information:- </h6><br>


<li><font> &#10004; </font>	To adapt, develop and improve the Website and the services provided in the context thereof.</li>
<li><font> &#10004; </font>To provide the Services of the Website.</li>
<li><font> &#10004; </font>	For analytical and research purposes, for instance, to analyze user preferences and User’s manner of use of the services.</li>
<li><font> &#10004; </font>	For Data Analytics purpose.</li>
<li><font> &#10004; </font>	To respond to User queries or to provide technical support services.</li>
<li><font> &#10004; </font>	To comply with law and regulations.</li><br>
    <p style="text-indent: 5%">   To obtain general information regarding the geographical location from which the User is connected to the internet, both for purposes of information security and to learn the general location of the website.

<h5> 6.	Examples of Information Collected </h5><br>
<h6><b> •	Information You Give Us</b> </h6><br>
<font> &#10004; </font>	Your most information is received when you search, post, inquire or participate in a contest or questionnaire or communicate with customer service. For example, you provide information when you: search for a product; or one of our third-party sellers; provide information in Your Account (and you might have more than one if you have used more than one e-mail address when visiting our website) or you’re Profile; communicate with us by phone or otherwise; provide and rate reviews. As a result of those actions, you might supply us with such information as: your name; address and phone number; content of reviews; the personal description in Your Profile; and financial information.<br><br>

<h6><b> •	Automatic Information </b> </h6><br>
<font> &#10004; </font>	Examples of the information we collect and analyze includes: the Internet protocol (IP) address used to connect your computer to the Internet; login; e-mail address; password; computer and connection information such as browser type and version; operating system and platform; purchase history, the full Uniform Resource Locators (URL), through and products you viewed or searched for; and any phone number used to call our customer service number. During your visits to the website, we may use software tools such as JavaScript to measure and collect session information, including page response times, download errors, length of visits to certain pages, page interaction information (such as scrolling, clicks, and mouse-overs), and methods used to browse away from the page.<br><br>

<h6><b> •	Information You Can Access</b> </h6><br>
<font> &#10004; </font>	Examples of information you can access easily at Beagle Marketplace, Beagle Fintech and / or Beagle Innovations portals include: up-to-date information regarding prices and other related information for various equipments, seller information, credit facilities available on purchase of equipment, personal information (including name, e-mail, personalized advertising preferences, communications; e-mail notification settings (including Alerts); and Your Profile (including your product Reviews, Requests and Recommendations, etc.). <br><br>

<h5> 7.	Does Beagle Marketplace, Beagle Fintech and / or Beagle Innovations portals share the Information it receives? </h5><br>
Information about our members is an important part of our business and we are not in the business of selling it to others. Beagle Marketplace, Beagle Fintech and / or Beagle Innovations portals shares member’s information only as described below:<br><br>
<h6><b> •	Third Party Service Providers: </b> </h6><br>
<font> &#10004; </font> We might employ other companies and individuals to perform functions on our behalf. For example, we may provide the information to third party reputed professional companies to do data analytics and generate summarized reports or other such analytical reports. Other examples include sending postal mail and e-mail, removing repetitive information from member lists, analyzing data, providing marketing assistance, providing search results and links (including paid listings and links) and providing customer service. They have access to personal information needed to perform their functions, but may not use it for other purposes. Further, they must process the personal information in accordance with this Privacy Policy and as permitted by applicable law.<br><br>
<h6><b> •	With your consent:  </b> </h6><br>
<font> &#10004; </font> We share the information with our credit partners and other affiliates to determine your credit worthiness only on your permission related to potential transaction.<br><br>
<h6><b> •	Protection of Beagle Marketplace and Others:  </b> </h6><br>
<font> &#10004; </font> We release account and other personal information when we believe release is appropriate to comply with applicable law; enforce or apply our Conditions of Use and other agreements; or protect the rights, property or safety of Beagle Marketplace, our users or others. This includes exchanging information with other companies, organizations, government or regulatory authorities for fraud protection and credit risk reduction. This does not include selling, renting, sharing or otherwise disclosing personally identifiable information from customers for commercial purposes in a way that is contrary to the commitments made in this Privacy Policy. <br><br>

<h5> 8.	Social Network </h5><br>
<font> &#10004; </font> The Website may include features of social network (such as Facebook’s “like” or “share”). The social features operate or enable integration with specific third parties social networks or platforms (“hereafter referred as “Social Network”). These social networks and platforms are formed and maintained by third parties that are not connected to third parties or which are not connected thereby. If said integration with said social network is enabled, your use of these social features shall be subject to the terms of use and the privacy policy of the relevant social network.<br><br>
<font> &#10004; </font> You must ensure that you have read and understood the terms of use and privacy policy of the relevant social network to learn what information was collected about you, and to learn about your options to change your private definitions in the context thereof.<br><br>
<font> &#10004; </font>	If you do not consent to the practices specified in the terms of social networks, you should not enable our website to contact you and/or integrate you (in such an event, please take into account that you will not be able to benefit from the services which our website offers).<br><br>
<font> &#10004; </font>	You agree and understand that the relevant social networks or platforms may collect specific personal information such as your IP address, impersonal information, and may even plant online tracking technology to enable social features. The use of these features enables you to share information with your friends or general public taking into account specifications you set at the third party that provides social network.<br><br>
<font> &#10004; </font>	Your entry to, or use of and reliance on the websites, services or third party content and all your interactions with third parties, is your own liability and you exclusively, shall bear all the related expenses.<br><br>
<font> &#10004; </font>	You agree and affirm that Beagle Marketplace, Beagle Fintech and Beagle Innovations portals shall not be liable, directly or indirectly, for any damage or loss caused (or allegedly caused) in connection with, or as a result of, any service, content, product, other information available through these Websites.<br><br>

<h5> 9.	How Secure Is Information for visitors? </h5><br>
<font> &#10004; </font>	We work to protect the security of your information during transmission by using Secure Sockets Layer (SSL) software, which encrypts information you input in addition to maintaining security of your information as per the International Standard IS/ISO/IEC 27001 on "Information Technology Security Techniques Information Security Management System-Requirements". <br><br>
<font> &#10004; </font>	We maintain physical, electronic and procedural safeguards in connection with the collection, storage and disclosure of personal information (including sensitive personal information). Our security procedures mean that we may occasionally request proof of identity before we disclose personal information to you. <br><br>
<font> &#10004; </font>	It is important for you to protect against unauthorized access to your password and to your computer. Be sure to sign off when you finish using a shared computer.  <br><br>

<h5> 10.	Are Children Allowed to Use Beagle Marketplace, Beagle Fintech and Beagle Innovations Portals? </h5><br>
<font> &#10004; </font>	Use of Beagle Marketplace, Beagle Fintech and / or Beagle Innovations portals is available only to persons who can form a legally binding contract under the Indian Contract Act, 1872. If you are a minor i.e. under the age of 18 years, you may use Beagle Marketplace, Beagle Fintech and / or Beagle Innovations portals only with the involvement of a parent or guardian.  <br><br>

<h5> 11.	Internet Based Ads </h5><br>
<font> &#10004; </font>	Beagle may allow some companies to manage advertisement campaigns on the website. The advertainments you view on visiting the website from those companies’s computers. These personalized ads, sometimes referred to as targeted or interest-based ads, are based on information about you, such as the products you view on Beagle Marketplace, visits to websites where we provide ads or content. You can set your preference for ads personalized by Beagle Marketplace. <br><br>

<h5> 12.	Changes in the Privacy Policy </h5><br>
<font> &#10004; </font>	The provisions of the privacy policy are an integral part of the website, and of the information collected in the context thereof, and it cannot be divorced, in any manner from our Terms of Use. The Company reserves the right to change this Privacy Policy at any time, and requests that all users revisit the page as frequently as possible. Any material change in the provisions of this policy will be displayed on Website’s homepage or we will send user an email regarding change in privacy policy. Material changes goes into effect within seven (7) days after the message was published on our website and/or application, or sent by email, whichever is first.<br><br>
<font> &#10004; </font>	Any other changes in our privacy policy will go into effect on the date of recent update of this privacy policy, and the User’s continued use of the website and/or application pursuant to the most recent update, constitute the User’s consent that will be bound by the revisions.<br><br>
<font> &#10004; </font>	Privacy Policy be amended to comply with the legal requirement, the corrections will go immediately, or as required by law, without any prior notice.<br><br>

<h5> 13.	Grievance Redressal </h5><br>
<font> &#10004; </font>	For any grievance with regards any matter mentioned in this policy, please email: <li><a href="mailto:beaglebazaar@gmail.com" target="_blank"><span class="icon fa fa-envelope"></span> beaglebazaar@gmail.com</a></li> <br><br>

</p>
</div>

{%endblock%}
