{%extends "veloce/layouts/sidebar.html"%}

{%load static%}

{%block title%}Testimonials{%endblock title%}
{%block pagetitle%}Testimonials{%endblock pagetitle%}

{%block main%}

<div style="padding: 20px 10px; width: 600px; text-align: center; font-size: 15em; color: gray;">
  <i class="fas fa-users"></i>
</div>
<div style="width: 800px; text-align:justify; padding: 10px;">
<p class="text-justify" style="width: 800px;">
  <h5> Work in Progress... </h5>
<!--<h6>-->
<!--<ul>-->
<!--    <li> <font> &#10004; </font>  Veloce market gets the registration of health care industry manufacturers and dealers to sell their products and-->
<!--    equipments to the portal <a href="http://www.veloce.market/" target="_blank">www.veloce.market</a> </li><br>-->
<!--    <li> <font> &#10004; </font>  Veloce market gets the registered the potential customer base for health care products and equipments like-->
<!--    doctors, medical practitioners, and health care institutions </li><br>-->
<!--    <li> <font> &#10004; </font>  Manufacturers and Dealers lists their healthcare products and equipments to the portal <a-->
<!--        href="http://www.veloce.market/" target="_blank">www.veloce.market</a> which are-->
<!--    visible to all who seek to purchase such healthcare products and equipments </li><br>-->
<!--    <li> <font> &#10004; </font>  Potential customers of such healthcare products and equipments raise product inquiries and converse with-->
<!--    respective dealer / manufacturers </li><br>-->
<!--    <li> <font> &#10004; </font>  If the deal gets complete and being recorded to the portal <a href="http://www.veloce.market/"-->
<!--                                                                    target="_blank">www.veloce.market</a> , then both-->
<!--    the seller and purchaser-->
<!--    gets reward points for the recorded transaction which further be utilized at certain eligible transactions in-->
<!--    future; for example, for purchasing certain approved products / equipments, get finance concessional finance deal on-->
<!--    products etc.</li><br>-->
<!--    <li> <font> &#10004; </font>  All such recorded transactions shall be eligible apply for finance on such transaction and to get finance offers-->
<!--    from veloce listed lenders through <a href="http://www.velocefintech.com/" target="_blank">www.velocefintech.com</a></li><br>-->
<!--    <li> <font> &#10004; </font>  Dealers / Manufacturers may also provide customized and lucrative finance scheme on their listed products and-->
<!--    equipments</li><br>-->

<!--</h6>-->
</p>
</div>
{%endblock%}