{%extends "veloce/layouts/sidebar.html"%}

{%load static%}

{%block title%}How it works{%endblock title%}
{%block pagetitle%}How it works{%endblock pagetitle%}

{%block main%}


<div style="padding: 20px 10px; width: 600px; text-align: center; font-size: 15em; color: gray;">
  <i class="fas fa-user-cog"></i>
</div>
<p style="width: 600px; text-align:justify;">
  Beagle will provide an online platform where the lender and borrower get variety of options for
  interest rates and returns. The actual lending and borrowing would be done directly between the lender and
  the borrower offline in a transparent manner i.e. not through the bank accounts of the Company but directly
  between the lender and borrower.
  <br><br>
  At Beagle lending is as safe as it can be if you use trusted platforms. An investment made under such
  platform provides higher returns on the capital. Only risk is the risk of default made by the borrower which
  is risk of lending in any other finances. However Beagle ensures risk evaluation by its team with certain
  practices.
  <br><br>
</p>

{%endblock%}